relution:
  system:
    admin:
      password: %SYSTEM_ADMIN_PASSWORD%
      email: %SYSTEM_ADMIN_EMAIL%
  server:
    externalURL: %EXT_HOSTNAME_URL%
  database:
    type: mysql
    # Adjust hostname in the url if the database runs on another machine
    url: jdbc:mariadb://127.0.0.1:3306/relution?useServerPrepStmts=true
    username: relution
    password: %MYSQL_PASSWORD%
