relution:
  system:
    admin:
      password: %SYSTEM_ADMIN_PASSWORD%
      email: %SYSTEM_ADMIN_EMAIL%
  server:
    externalURL: %EXT_HOSTNAME_URL%
  database:
    type: postgresql
    # Adjust hostname in the url if the database runs outside docker compose
    url: jdbc:postgresql://database-docker:5432/relution?currentSchema=public
    username: relution
    password: %POSTGRES_PASSWORD%
