services:
  database:
    image: postgres:18
    restart: unless-stopped
    container_name: database
    environment:
      - TZ=Europe/Berlin
      - POSTGRES_DB=relution
      - POSTGRES_USER=relution
      - POSTGRES_PASSWORD=%POSTGRES_PASSWORD%
    expose:
      - '5432'
    volumes:
      - 'postgresql:/var/lib/postgresql'

  relution:
    image: relution/relution:latest
    restart: unless-stopped
    container_name: relution
    depends_on:
      - database
    environment:
      - TZ=Europe/Berlin
    expose:
      - '8080'
      - '8099'
    volumes:
      - './application.yml:/opt/relution/application.yml'

  traefik:
    restart: unless-stopped
    image: traefik:${DOCKER_TRAEFIK:-latest}
    command:
      - --providers.file.directory=/opt/traefik/
      - --entryPoints.web.address=:80
      - --entryPoints.web.http.redirections.entryPoint.to=websecure
      - --entryPoints.web.http.redirections.entryPoint.scheme=https
      - --entryPoints.websecure.address=:443
      - --certificatesresolvers.letsencrypt.acme.storage=/letsencrypt/acme.json
      - --certificatesresolvers.letsencrypt.acme.httpchallenge.entrypoint=web
    environment:
      - TZ=Europe/Berlin
    ports:
      - '80:80'
      - '443:443'
    volumes:
      - ./certs/letsencrypt:/letsencrypt
      - ./configs/traefik:/opt/traefik
    logging:
      driver: 'json-file'
      options:
        max-size: '${DOCKER_TRAEFIK_LOGSIZE:-64m}'
        max-file: '4'
        compress: 'true'

volumes:
  postgresql:

networks:
  relution-network:
