services:
  database:
    image: postgres:18
    restart: unless-stopped
    container_name: database
    environment:
      - TZ=Europe/Berlin
      - POSTGRES_DB=relution
      - POSTGRES_USER=relution
      - POSTGRES_PASSWORD=%POSTGRES_PASSWORD%
    expose:
      - '5432'
    volumes:
      - 'postgresql:/var/lib/postgresql'

  relution:
    image: relution/relution:latest
    restart: unless-stopped
    container_name: relution
    depends_on:
      - database
    environment:
      - TZ=Europe/Berlin
    expose:
      - '8080'
      - '8099'
    volumes:
      - './application.yml:/opt/relution/application.yml'

  nginx:
    image: nginx:stable
    restart: unless-stopped
    container_name: nginx
    depends_on:
      - relution
    environment:
     - TZ=Europe/Berlin
     - NGINX_HOST=%EXT_HOSTNAME%
    ports:
     - "80:80"
     - "443:443"
    volumes:
     - '/opt/relution/relution-nginx.conf:/etc/nginx/conf.d/relution-nginx.conf'
     - '/opt/relution/server.pem:/etc/nginx/server.pem'
     - '/opt/relution/server.key:/etc/nginx/server.key'

volumes:
  postgresql:

networks:
  relution-network:
