[Unit]
Description=Relution Server
After=network.target

[Service]
TimeoutStartSec=0
Environment=JAVA_HOME=/usr
ExecStart=/opt/relution/bin/relution-foreground.sh
WorkingDirectory=/opt/relution
KillMode=mixed
KillSignal=SIGINT
Restart=on-failure
SyslogIdentifier=relution
LimitNOFILE=10000
LimitNPROC=10000
User=relution
Group=relution

[Install]
WantedBy=multi-user.target
